---
http_interactions:
- request:
    method: get
    uri: https://eu1.locationiq.com/v1/search.php?format=json&key=28352e3522ad2a&q=andorra%20la%20vella
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"209338330","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"3657693","boundingbox":["42.4966532","42.5134838","1.5053056","1.534248"],"lat":"42.5069391","lon":"1.5212467","display_name":"Andorra
        la Vella, AD500, Andorra","class":"boundary","type":"administrative","importance":0.77111177665582,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_boundary_administrative.p.20.png"},{"place_id":"209223498","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"2804753","boundingbox":["42.4687463","42.5228659","1.4603314","1.5591178"],"lat":"42.49549955","lon":"1.50685531703821","display_name":"Andorra
        la Vella, AD500, Andorra","class":"boundary","type":"administrative","importance":0.77111177665582,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_boundary_administrative.p.20.png"},{"place_id":"71288864","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"6032676339","boundingbox":["47.5052794","47.5053794","19.0311529","19.0312529"],"lat":"47.5053294","lon":"19.0312029","display_name":"Andorra
        La Vella, Hunfalvy utca, V\u00edziv\u00e1ros, 1st district, Budapest, Central
        Hungary, 1015, Hungary","class":"natural","type":"tree","importance":0.301},{"place_id":"68601569","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"5803912387","boundingbox":["42.5083964","42.5084964","1.5337494","1.5338494"],"lat":"42.5084464","lon":"1.5337994","display_name":"ANDORRA
        LA VELLA, Avinguda Meritxell, Centre hist\u00f2ric, Andorra la Vella, AD500,
        Andorra","class":"highway","type":"motorway_junction","importance":0.301}]'
  recorded_at: Wed, 06 Mar 2019 23:53:11 GMT
recorded_with: VCR 4.0.0
