---
http_interactions:
- request:
    method: get
    uri: https://eu1.locationiq.com/v1/search.php?format=json&key=28352e3522ad2a&q=Statue%20of%20Liberty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"87574026","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"32965412","boundingbox":["40.6888049","40.6896741","-74.0451069","-74.0439637"],"lat":"40.6892532","lon":"-74.0445481714432","display_name":"Statue
        of Liberty, Flagpole Plaza, Manhattan Community Board 1, New York County,
        New York City, New York, 10004, USA","class":"tourism","type":"attraction","importance":0.85762348916923,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"},{"place_id":"35288236","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"2837177940","boundingbox":["41.3438445","41.3439445","-86.3112295","-86.3111295"],"lat":"41.3438945","lon":"-86.3111795","display_name":"Statue
        of Liberty, North Center Street, Plymouth, Marshall County, Indiana, 46563,
        USA","class":"tourism","type":"artwork","importance":0.66954659981371,"icon":[...]
